
#wrapper {
	width: 100%;
 	max-width: 960px;
	max-height:550px;
	margin-top: 0px;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	
	/*
	-moz-border-radius: 1em;
	border-radius: 1em;
    -webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 7px 7px rgba(0, 0, 0, 0.2);
    box-shadow:0 7px 7px rgba(0, 0, 0, 0.2);
    */

    /* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	*/
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	*/
	
	border: 1px solid; border-color: yellow;
}


#scroller {
	width: 19960px;
	max-height:500px;
	float:left;
	margin: 0px;
	padding:0;
	z-index: 1;
	border: 0px solid; border-color: red;
}




#scroller ul {
	list-style:none;
	display:block;
	float:left;
	padding:0;
	margin:0;
	text-align:left;
	border: 0px solid; border-color: red;
}

#scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width: 950px;
	height: 100%;
	max-width: 950px;
	max-height:500px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	z-index: 2;	
	border: 0px solid; border-color: pink;
}

#scroller li .imgContainer {
	width: 590px;
	border: 0px solid; border-color: pink;
	float:right;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

#scroller li img {
	width: 100%; 
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}



#scroll-nav {
	position: relative;
	margin-top: -40px;
	width:430px;
	height: 25px;
	float:right;
	/* Adds shadow to the bottom of the bar 
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
	-moz-box-shadow: 0px 0px 3px 0px #000000;
	box-shadow: 0px 0px 3px 0px #000000;
	*/
	/* Adds the transparent background 
	background-color: rgba(51,51,51, 0.5);*/
	color: rgba(51,51,51, .9);
	z-index: 10;
	font-size: 1.15em;
	padding-top: 10px;
	
	border: 0px solid; border-color: green;
}

#arrow-next{
	background: url(../img/slider_arrow_next.png) no-repeat center top transparent;  
	margin-left: 97.5%; 
	height: 270px; 
	width: 40px; 
	position: absolute; 
	top: 43%; 
	border: 0px solid; 
	border-color: pink;
	z-index: 1202;
	
	khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter:"alpha(opacity=50)";
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50;
} 

#arrow-prev{
	background: url(../img/slider_arrow_prev.png) no-repeat center top transparent;  
	margin-left: -8%; 
	height: 270px; 
	width: 40px; 
	position: absolute; 
	top: 43%; 
	border: 0px solid; 
	border-color: pink;
	z-index: 1203;
	 -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter:"alpha(opacity=50)";
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50;
} 


#prev, #next {
	float:left;
	font-weight:bold;
	font-size: 1.8em;
	color: rgba(220, 90, 17, .9);
	width:30px;
	height:100%;
	border: 0px solid; border-color: pink;
	margin-top:-3px;
	padding: 2px;
}

#prev {
	padding-left: 4px;
}

#next {
	float:right;
	text-align:right;
	padding-right: 4px;
}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	padding:0px 0 0 0px;
	border: 0px solid; border-color: blue;
}

#indicator > li {
	text-indent:-9999em;
	width:12px; height:12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	background:#ddd;
	overflow:hidden;
	margin-right:6px;
}

#indicator > li.active {
	background:#cc6633;
}

#indicator > li:last-child {
	margin:0;
}






/* iPad [landscape] */
@media only screen and (max-device-width: 1024px) { 
	#wrapper {-webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.0);}	
	
	#scroll-nav {
	float: left;
	background-color: rgba(51,51,51, 0.0);
	color: rgba(51,51,51, .9);
	margin-top: -60px;
	}
	
	#prev, #next {
	font-size: 2.5em;
	line-height: .15em;
	}
	
	#scroller li .workContent {font-size: .85em;}
}


/* iPad Retina [landscape + Portrait] */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	#scroll-nav {
	float: left;
	margin-left: 37%;
	background-color: rgba(51,51,51, 0);
	color: rgba(51,51,51, .9);
	margin-top: -50px;
	}
	
	#prev, #next {
	font-size: 2em;
	line-height: .15em;
	}

	#wrapper {-webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.0);  max-height: 540px;}
	#scroller { margin-top: 20px;  background-color: rgba(55, 55, 55, 0);}
	
	#scroller li .workContent {font-size: .9em;}
}





@media only screen and (max-device-width: 768px) and (orientation:portrait) { 
	
	#scroller li .workContent {
 	width: 330px;
	max-height:670px;
	font-size: .85em;
	}
	
	#scroller li .imgContainer {
	width: 600px;
	border: 0px solid; border-color: pink;
	float:right;
	}
	
	#scroller li img {
		width: 65%; 
	}
}




